*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

li{
    float: left;
    padding: 16px;
    list-style: none;
    font-size: 22px;
    color: #fff;
}

header{
    padding: 16px;
    border-bottom: 2px solid #ccc;
    background-color: rgb(67, 67, 146);

}

header h1{
    color: #fff;
    font-size: 38px;
}



.sobre-a-loja{
    display: flex;

}

h2{
    color: blue;
    font-size: 22px;
    font-family: roboto,Arial, Helvetica, sans-serif;
    margin: 40px 0;
    

}


section h2 {
    margin-top: 20px;
    padding-left: 30px;
}

p{
    margin-left: 20px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    
}

.sobre-a-loja p:hover{
color: red;
font-size: 28px;
text-align: justify;
cursor: pointer;
}

.sobre-a-loja img{
    width: 300px;
    height: 300px;
    margin-top: 20px;

}

.produto img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.produto img:hover{
    opacity: 0.8;
    cursor: pointer;
}

.produto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.produto div{
    width: 220px;
        
}

button{
    margin-top: 20px;
    background-color: rgb(51, 51, 180);
    width: 220px;
    height: 35px;
    font-size: 16px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

button:hover{
    background-color: green;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width:767px) {
    .sobre-a-loja{
        display: block;
    }

    .container{
        max-width: 90%;
    }

    .produto{
        display: block;
    
    }

    .produto .produto{
        margin-bottom: 32px;
    }

    header div.container{
        flex-direction: column;
    }
    
} 
    
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container{
        max-width: 90%;
    }

    .produto{
        grid-template-columns: repeat(2,30%);
    }
    
}

@media screen and (min-width: 1024px) {
    
    
}